/*-------------------------
	grid-style
--------------------------*/
.gridCandidatStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 300px;
    
}
.gridInterviuriStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 300px;
    
}
.selectedItems{
    
}


/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #000000;
	text-align:center;
}

a, a:visited {
	outline:none;
	color:#00ffff;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}


/*-------------------------
	The menu
--------------------------*/


nav{
	display:inline-block;
	margin:60px auto 45px;
	background-color:#50baba;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
}

nav a{
	display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}

nav.candidatList 	.candidatList,
nav.candidatForm 	.candidatForm,
nav.candidatInterviuri .candidatInterviuri,
nav.interviuri			.interviuri
{
	background-color: green;
	/* background-color:#e35885;*/
}

p{
	font-size:22px;
	font-weight:bold;
	color:#004000;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#c4d7e0;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}