
<!DOCTYPE html>
<html ng-app="App">

	<head>
		<meta charset="utf-8"/>
		<title>Learn AngularJS - Navigation Menu</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
		<link href="css/app.css" rel="stylesheet" />
		
		<script type="text/javascript" src="lib/xml2json.js"></script>
    	<script src="lib/jquery-1.10.2.min.js"></script>
    	<script data-require="angular.js@1.2.x" src="lib/angular.js" data-semver="1.2.3"></script>
    	<script type="text/javascript" src="lib/ng-grid.debug.js"></script>
    	<script src="lib/angular-route.min.js"></script>
		<script src="lib/angular-resource.js"></script>
    	
    	<!-- Local app logic -->
    	<script type="text/javascript" src="js/app.js"></script>	
    	<script type="text/javascript" src="js/services.js"></script>	
    	<script type="text/javascript" src="js/controllers.js"></script>	
    	
    		
	</head>

	<body data-ng-controller="mainController">

		<nav class="{{active}}" >
			<a href="#/view1" class="candidatList" ng-click="active='candidatList'">Candidati</a>
			<a href="#/view2" class="candidatForm" ng-click="active='candidatForm'">Candidat-Form</a>
		 <a href="#/view3" class="candidatInterviuri" ng-click="active='candidatInterviuri'">Candidat-Interviuri</a>
			<a href="#/view4" class="about" ng-click="active='about'">Interviuri</a>
		</nav>
		
		
		<!-- Placeholder for view -->
		<table style="margin-left:auto;margin-right:auto;">
			<tr>
				<td><div data-ng-view="partials/view1.html"></div></td>
			</tr>
		</table>
		
	</body>
</html>