
<div data-ng-controller="view3Controller">
<div id="container">
    		<div id="header">
    			<p>Candidat Selection to EDIT: {{candidatiSelected[0].numeCandidat}}</p>
    		</div>
   
   				<table style="width:500px;" cellpadding="1" cellspacing="1" align="left">
   				
   					<tr>
   						<td  align="left"><label for="idCandidat">Candidat_Number:</label></td>
				    	<td  align="left"><input id="idCandidat" type="number" ng-model="candidat.idCandidat"  style="width: 100%;"/></td>
   					</tr>
   						
   					<tr>
						<td  align="left"><label for="numeCandidat">Name:</label></td>
				    	<td  align="left"><input id="numeCandidat" type="text" ng-model="candidat.numeCandidat"  style="width: 100%;"/></td> 					
   					</tr>
   						
   					<tr> 
						<td  align="left"><label for="telefon">Telefon:</label></td>
				    	<td  align="left"><input id="telefon" type="text" ng-model="candidat.telefon"  style="width: 100%;"/></td>   					
   					</tr>
   					<tr> 
						<td  align="left"><label for="email">Email:</label></td>
				    	<td  align="left"><input id="email" type="text" ng-model="candidat.email"  style="width: 100%;"/></td>   					
   					</tr>
   					<tr> 
   			 <td  align="left"> <!-- <a href="{{candidat.link.href}}"  style="width: 100%;">{{http://localhost:8080/TAM1/data/candidati}}</a></td> -->
   						<td  align="left">
   							<button data-ng-click="save()"  style="width: 100%;">Save</button>
   						 <button data-ng-click="go('/view2');"  style="width: 100%;">Back to candidat</button>
   					
   						</td>  
   					</tr>
   					 <tr>
   						<td colspan="2">
   							<div id="listDiv" class="gridInterviuriStyle" ng-grid="detailGrid"></div>
   						</td>
   					</tr>
				 </table>
    	</div>
</div>