
<div data-ng-controller="view2Controller">
		<div id="container">
    		<div id="header">
    			<p>Candidat Selection to EDIT: {{candidatiSelected[0].name}}</p>
    		</div>
    		
    		<div id="menu" style="float:left;">
    			<div id="listDiv" class="gridCandidatStyle" ng-grid="gridOptions"></div>
    		</div>
    		
    		<div id="content" style="float:left;">
    				<table style="width:500px;" cellpadding="0" cellspacing="0">
    					<tr>
    						<td align="left"><label for="idCandidat" >Candidat Numar:</label></td>
					    	<td align="left"><input id="idCandidat" type="number" 
					    		ng-model="candidatiSelected[0].idCandidat" style="width: 100%;"/></td>
    					</tr>
    						
    					<tr>
							<td  align="left"><label for="numeCandidat">Name:</label></td>
					    	<td  align="left"><input id="numeCandidat" type="text" 
					    		ng-model="candidatiSelected[0].numeCandidat" style="width: 100%;"/></td> 					
    					</tr>
    						
    					<tr> 
							<td  align="left"><label for="telefon" align="left">Telefon:</label></td>
					    	<td  align="left"><input id="telefon" type="text" 
					    		ng-model="candidatiSelected[0].telefon" style="width: 100%;"/></td>   					
    					</tr>
    					<tr> 
							<td  align="left"><label for="email" align="left">Email:</label></td>
					    	<td  align="left"><input id="email" type="text" 
					    		ng-model="candidatiSelected[0].email" style="width: 100%;"/></td>   					
    					</tr>
    					
						<tr> 
							<td colspan="2" align="right">
								<button data-ng-click="add()">Add new</button>
								<button data-ng-click="save()">Save</button>
								<button data-ng-click="remove()">Delete</button>
								<button data-ng-click="cancel()">Cancel</button>
								<button data-ng-click="go('/view3');">Edit interviuri</button>
								
						
							</td> 					
    					</tr>    					
					 </table>
    		</div>
    		
			<div id="footer">
    				<a href="{{candidatiSelected[0].link.href}}">{{candidatiSelected[0].link.href}}</a>
    		</div>    		
    	</div>	
	
</div>