<div data-ng-controller="view4Controller">
	<h3>VIEW4: {{view4_name}}</h3>
	<strong>Filter:</strong> </string><input type="text" ng-model="filterOptions.filterText" />
	<br><br>
    <div class="gridCandidatStyle" ng-grid="gridOptions"></div>	
</div>